*{
    font-family: 'Work Sans', sans-serif;
}
#input-text,#output-text{
    border-radius: 10px;
    overflow-y: scroll;
    width: 200px;
    height: 100px;
    font-size: 18px;
    outline: 1px solid #0176e0;
    padding: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#input-text:focus{
    outline: 1px solid #003261;
}
::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #0176e0;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    
}
.arabic-text{
    direction: rtl;
}
#output-text{
    background-color: #EEE;
}
#switch-translation {
    cursor: pointer;
    margin-top: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: 0px;
    border: 1px solid #0176e0;
    padding: 5px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
#switch-translation:hover{
    background-color: #CCC;
}
span{
    position: relative;
    border-bottom: 1px solid red;
}
li{
    color: #2c9cff;
}
ul{
    position: absolute;
    top: 100%;
    right: 0px;
    transform: translateX(20%);
    z-index: 2;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    background-color: white;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -o-transform: translateX(20%);
}
footer{
    margin: 6px;
}
